<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Arvirotech Media - Pesanggrahan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link rel="stylesheet" href="../../src/css/app.min.css">
    <link rel="stylesheet" href="../../src/css/style-app.css">
    <link rel="stylesheet" href="../../src/css/vendor">

    <!-- Bootstrap -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <!-- Bootstrap Ends -->

</head>

<body data-bs-spy='scroll' data-bs-target='#sidebar-bootstrap' data-bs-offset='200'>
    <div id="app" class="app app-content-full-width">
        <div class="container">
            <div>
                <div id="header" class="app-header">
                    <div class="brand">
                        <a class="navbar-brand" href="../../index.html">
                            <img src="/src/images/logo-2.png" alt="logo" class="logo">
                        </a>
                    </div>

                    <div class="menu">
                        <div class="btn-group">
                            <button type="button" class="btn" data-bs-toggle="dropdown" data-bs-display="static"
                                aria-expanded="false">
                                <div class="btn-lokasi">Titik Lokasi <span class="dropdown-toggle"></span></a>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-lg-end">
                                <li><a class="dropdown-item" href="../../view/pesanggrahan/detail.html">Pesanggrahan</a>
                                </li>
                                <li><a class="dropdown-item" href="../../view/seskoal/detail.html">Seskoal</a></li>
                                <li><a class="dropdown-item" href="../../view/smk13/detail.html">SMK 13</a></li>
                                <li><a class="dropdown-item" href="../../view/tebet/detail.html">Tebet</a></li>
                                <li><a class="dropdown-item" href="../../view/greengarden/detail.html">Green Garden</a>
                                </li>
                                <li><a class="dropdown-item" href="../../view/tanahsereal/detail.html">Tanah Sereal</a>
                                </li>
                                <li><a class="dropdown-item" href="../../view/perpus/detail.html">Perpustakaan</a></li>
                                <li><a class="dropdown-item" href="../../view/bonavista/detail.html">Bonavista</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg static-top">
                </nav>
            </div>


            <!-- Detail -->
            <div class="container">
                <h1 class="page-header">
                    Pembangunan Kolam Modular di Wilayah Provinsi DKI Jakarta Tahap IV
                </h1>
                <div class="card mb-2">
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-3">Penyedia Jasa</dt>
                            <dd class="col-sm-9">PT. Arvirotech Konstruksi Indonesia</dd>

                            <dt class="col-sm-3">Kontrak</dt>
                            <dd class="col-sm-9">5398/- 1.774.126 tanggal 10 Agustus 2021</dd>

                            <dt class="col-sm-3">Lokasi</dt>
                            <dd class="col-sm-9">...</dd>

                            <dt class="col-sm-3">Progres</dt>
                            <dd class="col-sm-9">...%</dd>

                            <dt class="col-sm-3">Volume</dt>
                            <dd class="col-sm-9">...M<sup>3</sup></dd>

                            <dt class="col-sm-3">Titik koordinat</dt>
                            <dd class="col-sm-9">...</dd>

                            <dt class="col-sm-3">Kota</dt>
                            <dd class="col-sm-9">...</dd>

                            <dt class="col-sm-3">Kecamatan</dt>
                            <dd class="col-sm-9">....</dd>

                            <dt class="col-sm-3">Kelurahan</dt>
                            <dd class="col-sm-9">...</dd>

                            <dt class="col-sm-3">Alamat</dt>
                            <dd class="col-sm-9">...</dd>

                            <dt class="col-sm-3">Tanggal Mulai</dt>
                            <dd class="col-sm-9">...</dd>

                            <dt class="col-sm-3">Tanggal Selesai</dt>
                            <dd class="col-sm-9">...</dd>
                        </dl>

                    </div>
                    <!-- corner -->
                    <div class="card-arrow">
                        <div class="card-arrow-top-left"></div>
                        <div class="card-arrow-top-right"></div>
                        <div class="card-arrow-bottom-left"></div>
                        <div class="card-arrow-bottom-right"></div>
                    </div>
                </div>
            </div>

            <!-- Foto Foto -->
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <div class="accordion" id="accordionExample">
                            <!-- PERSIAPAN -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        aria-expanded="false" aria-controls="collapseOne" data-bs-target="#collapseOne">
                                        <div class="col-md-3 ">
                                            Pekerjaan Persiapan
                                        </div>
                                        <div class="col-sm-1">
                                            <span> : </span>
                                            ...%
                                        </div>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">

                                        <!-- SURVEI LOKASI -->
                                        <div class="card bg-theme border-theme bg-opacity-25">
                                            <div class="card-body">
                                                <h5>
                                                    Survei lokasi
                                                </h5>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-sm">
                                                            <div class="card ">
                                                                <!-- image caps -->
                                                                <div class="card-body">
                                                                    <img src="../../src/assets/" alt=""
                                                                        class="card-img-top" />
                                                                </div>
                                                                <div class="card-body">
                                                                    <p class="card-text">Survei lokasi</p>
                                                                </div>
                                                                <!-- arrow -->
                                                                <div class="card-arrow">
                                                                    <div class="card-arrow-top-left"></div>
                                                                    <div class="card-arrow-top-right"></div>
                                                                    <div class="card-arrow-bottom-left"></div>
                                                                    <div class="card-arrow-bottom-right"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- corner -->
                                            <div class="card-arrow">
                                                <div class="card-arrow-top-left"></div>
                                                <div class="card-arrow-top-right"></div>
                                                <div class="card-arrow-bottom-left"></div>
                                                <div class="card-arrow-bottom-right"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- PELAKSANAAN -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo">
                                        <div class="col-md-3 ">
                                            Pekerjaan Pelaksanaan
                                        </div>
                                        <div class="col-sm-1">
                                            <span> : </span>
                                            ...%
                                        </div>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <!-- GALIAN TANAH -->
                                        <div class="card bg-theme border-theme bg-opacity-25">
                                            <div class="card-body">
                                                <h5>
                                                    Galian Tanah
                                                </h5>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-sm">
                                                            <div class="card">
                                                                <!-- image caps -->
                                                                <div class="card-body">
                                                                    <img src="../../src/assets/" alt=""
                                                                        class="card-img-top" />
                                                                </div>
                                                                <div class="card-body">
                                                                    <p class="card-text">Pekerjaan Galian Tanah</p>
                                                                </div>
                                                                <!-- arrow -->
                                                                <div class="card-arrow">
                                                                    <div class="card-arrow-top-left"></div>
                                                                    <div class="card-arrow-top-right"></div>
                                                                    <div class="card-arrow-bottom-left"></div>
                                                                    <div class="card-arrow-bottom-right"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- corner -->
                                            <div class="card-arrow">
                                                <div class="card-arrow-top-left"></div>
                                                <div class="card-arrow-top-right"></div>
                                                <div class="card-arrow-bottom-left"></div>
                                                <div class="card-arrow-bottom-right"></div>
                                            </div>
                                        </div>

                                        <!-- PEKERJAAN SUMUR BOR -->
                                        <div class="card bg-theme border-theme bg-opacity-25">
                                            <div class="card-body">
                                                <h5>
                                                    Pekerjaan Sumur Bor
                                                </h5>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-sm">
                                                            <div class="card ">
                                                                <!-- image caps -->
                                                                <div class="card-body">
                                                                    <img src="../../src/assets/" alt=""
                                                                        class="card-img-top" />
                                                                </div>
                                                                <div class="card-body">
                                                                    <p class="card-text">Pekerjaan Sumur Bor</p>
                                                                </div>
                                                                <!-- arrow -->
                                                                <div class="card-arrow">
                                                                    <div class="card-arrow-top-left"></div>
                                                                    <div class="card-arrow-top-right"></div>
                                                                    <div class="card-arrow-bottom-left"></div>
                                                                    <div class="card-arrow-bottom-right"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- corner -->
                                            <div class="card-arrow">
                                                <div class="card-arrow-top-left"></div>
                                                <div class="card-arrow-top-right"></div>
                                                <div class="card-arrow-bottom-left"></div>
                                                <div class="card-arrow-bottom-right"></div>
                                            </div>
                                        </div>

                                        <!-- PPEKERJAAN BAK KONTROL -->
                                        <div class="card bg-theme border-theme bg-opacity-25">
                                            <div class="card-body">
                                                <h5>
                                                    Pekerjaan Bak Kontrol
                                                </h5>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-sm">
                                                            <div class="card ">
                                                                <!-- image caps -->
                                                                <div class="card-body">
                                                                    <img src="../../src/assets/" alt=""
                                                                        class="card-img-top" />
                                                                </div>
                                                                <div class="card-body">
                                                                    <p class="card-text">Pekerjaan Bak Kontrol</p>
                                                                </div>
                                                                <!-- arrow -->
                                                                <div class="card-arrow">
                                                                    <div class="card-arrow-top-left"></div>
                                                                    <div class="card-arrow-top-right"></div>
                                                                    <div class="card-arrow-bottom-left"></div>
                                                                    <div class="card-arrow-bottom-right"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- corner -->
                                            <div class="card-arrow">
                                                <div class="card-arrow-top-left"></div>
                                                <div class="card-arrow-top-right"></div>
                                                <div class="card-arrow-bottom-left"></div>
                                                <div class="card-arrow-bottom-right"></div>
                                            </div>
                                        </div>



                                        <!-- URUGAN PASIR -->
                                        <div class="card bg-theme border-theme bg-opacity-25">
                                            <div class="card-body">
                                                <h5>
                                                    Urugan Pasir
                                                </h5>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-sm">
                                                            <div class="card ">
                                                                <!-- image caps -->
                                                                <div class="card-body">
                                                                    <img src="../../src/assets/" alt=""
                                                                        class="card-img-top" />
                                                                </div>
                                                                <div class="card-body">
                                                                    <p class="card-text">Urugan pasir awal</p>
                                                                </div>
                                                                <!-- arrow -->
                                                                <div class="card-arrow">
                                                                    <div class="card-arrow-top-left"></div>
                                                                    <div class="card-arrow-top-right"></div>
                                                                    <div class="card-arrow-bottom-left"></div>
                                                                    <div class="card-arrow-bottom-right"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- corner -->
                                            <div class="card-arrow">
                                                <div class="card-arrow-top-left"></div>
                                                <div class="card-arrow-top-right"></div>
                                                <div class="card-arrow-bottom-left"></div>
                                                <div class="card-arrow-bottom-right"></div>
                                            </div>
                                        </div>

                                        <!-- GELARAN GEO TEXTILE -->
                                        <div class="card bg-theme border-theme bg-opacity-25">
                                            <div class="card-body">
                                                <h5>Gelaran Geotextile
                                                </h5>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-sm">
                                                            <div class="card ">
                                                                <!-- image caps -->
                                                                <div class="card-body">
                                                                    <img src="../../src/assets/" alt=""
                                                                        class="card-img-top" />
                                                                </div>
                                                                <div class="card-body">
                                                                    <p class="card-text">Gelaran Geotextile</p>
                                                                </div>
                                                                <!-- arrow -->
                                                                <div class="card-arrow">
                                                                    <div class="card-arrow-top-left"></div>
                                                                    <div class="card-arrow-top-right"></div>
                                                                    <div class="card-arrow-bottom-left"></div>
                                                                    <div class="card-arrow-bottom-right"></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- corner -->
                                            <div class="card-arrow">
                                                <div class="card-arrow-top-left"></div>
                                                <div class="card-arrow-top-right"></div>
                                                <div class="card-arrow-bottom-left"></div>
                                                <div class="card-arrow-bottom-right"></div>
                                            </div>
                                        </div>

                                        <!-- PEMASANGAN MODULAR-->
                                        <div class="card bg-theme border-theme bg-opacity-25">
                                            <div class="card-body">
                                                <h5>
                                                    Pemasangan Modular
                                                </h5>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-sm">
                                                            <div class="card ">
                                                                <!-- image caps -->
                                                                <div class="card-body">
                                                                    <img src="../../src/assets/" alt=""
                                                                        class="card-img-top" />
                                                                </div>
                                                                <div class="card-body">
                                                                    <p class="card-text">Pemasangan Modular</p>
                                                                </div>
                                                                <!-- arrow -->
                                                                <div class="card-arrow">
                                                                    <div class="card-arrow-top-left"></div>
                                                                    <div class="card-arrow-top-right"></div>
                                                                    <div class="card-arrow-bottom-left"></div>
                                                                    <div class="card-arrow-bottom-right"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- corner -->
                                            <div class="card-arrow">
                                                <div class="card-arrow-top-left"></div>
                                                <div class="card-arrow-top-right"></div>
                                                <div class="card-arrow-bottom-left"></div>
                                                <div class="card-arrow-bottom-right"></div>
                                            </div>
                                        </div>

                                        <!-- URUGAN & PEMADATAN TANAH -->
                                        <div class="card bg-theme border-theme bg-opacity-25">
                                            <div class="card-body">
                                                <h5>
                                                    Urugan dan Pemadatan Tanah
                                                </h5>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-sm">
                                                            <div class="card ">
                                                                <!-- image caps -->
                                                                <div class="card-body">
                                                                    <img src="../../src/assets/" alt=""
                                                                        class="card-img-top" />
                                                                </div>
                                                                <div class="card-body">
                                                                    <p class="card-text">Pekerjaan Pemadatan Tanah</p>
                                                                </div>
                                                                <!-- arrow -->
                                                                <div class="card-arrow">
                                                                    <div class="card-arrow-top-left"></div>
                                                                    <div class="card-arrow-top-right"></div>
                                                                    <div class="card-arrow-bottom-left"></div>
                                                                    <div class="card-arrow-bottom-right"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- corner -->
                                            <div class="card-arrow">
                                                <div class="card-arrow-top-left"></div>
                                                <div class="card-arrow-top-right"></div>
                                                <div class="card-arrow-bottom-left"></div>
                                                <div class="card-arrow-bottom-right"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FINISHING -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree">
                                        <div class="col-md-3 ">
                                            Pekerjaan Finishing
                                        </div>
                                        <div class="col-sm-1">
                                            <span> : </span>
                                            ...%
                                        </div>
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <!-- Pengembalian Kondisi Eksisting & Perkerasan -->
                                        <div class="card bg-theme border-theme bg-opacity-25">
                                            <div class="card-body">
                                                <h5>
                                                    Pengembalian Kondisi Eksisting & Perkerasan
                                                </h5>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-sm">
                                                            <div class="card ">
                                                                <!-- image caps -->
                                                                <div class="card-body">
                                                                    <img src="../../src/assets/" alt=""
                                                                        class="card-img-top" />
                                                                </div>
                                                                <div class="card-body">
                                                                    <p class="card-text">pengembalian lokasi seperti
                                                                        semula</p>
                                                                </div>
                                                                <!-- arrow -->
                                                                <div class="card-arrow">
                                                                    <div class="card-arrow-top-left"></div>
                                                                    <div class="card-arrow-top-right"></div>
                                                                    <div class="card-arrow-bottom-left"></div>
                                                                    <div class="card-arrow-bottom-right"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- corner -->
                                            <div class="card-arrow">
                                                <div class="card-arrow-top-left"></div>
                                                <div class="card-arrow-top-right"></div>
                                                <div class="card-arrow-bottom-left"></div>
                                                <div class="card-arrow-bottom-right"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- corner -->
                    <div class="card-arrow">
                        <div class="card-arrow-top-left"></div>
                        <div class="card-arrow-top-right"></div>
                        <div class="card-arrow-bottom-left"></div>
                        <div class="card-arrow-bottom-right"></div>
                    </div>
                </div>

            </div>



            <a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
        </div>

        <!-- Footer -->
        <div id="app" class="app">
            <div id="footer" class="app-footer">
                © 2021 PT. Arvirotech Konstruksi Indonesia
            </div>
        </div>


</body>

</html>