<!-- Navigation -->
<nav class="navbar navbar-expand-lg static-top">
    <div class="container">
        <a class="navbar-brand" href="../../index.html">
            <img src="/src/images/logo-2.png" alt="logo" class="logo">
        </a>
        <div class="btn-group">
            <button type="button" class="btn" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                <div class="btn-lokasi">Titik Lokasi <span class="dropdown-toggle"></span></a>

            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end">
                <li><a class="dropdown-item" href="../view/pesanggrahan/detail.html">Pesanggrahan</a></li>
                <li><a class="dropdown-item" href="../view/seskoal/detail.html">Seskoal</a></li>
                <li><a class="dropdown-item" href="../view/smk13/detail.html">SMK 13</a></li>
                <li><a class="dropdown-item" href="../view/tebet/detail.html">Tebet</a></li>
                <li><a class="dropdown-item" href="../view/greengarden/detail.html">Green Garden</a></li>
                <li><a class="dropdown-item" href="../view/tanahsereal/detail.html">Tanah Sereal</a></li>
                <li><a class="dropdown-item" href="../view/perpus/detail.html">Perpustakaan</a></li>
                <li><a class="dropdown-item" href="../view/bonavista/detail.html">Bonavista</a></li>
                <li><a class="dropdown-item" href="../view/smpn159/detail.html">SMPN 159 Jakarta</a></li>
                <li><a class="dropdown-item" href="../view/pomad/detail.html">Lap. Bola Pomad</a></li>
                <li><a class="dropdown-item" href="../view/kedaung/detail.html">kedaung</a></li>
                <li><a class="dropdown-item" href="../view/museum/detail.html">Museum Satria Mandala</a></li>




                <!-- <li><button class="dropdown-item" type="button"><a href=""></a></button></li>
                <li><button class="dropdown-item" type="button">Seskoal</button></li>
                <li><button class="dropdown-item" type="button">SMK 13</button></li>
                <li><button class="dropdown-item" type="button">Tebet</button></li>
                <li><button class="dropdown-item" type="button">Green Garden</button></li>
                <li><button class="dropdown-item" type="button">Tanah Sereal</button></li>
                <li><button class="dropdown-item" type="button">Perpustakaan</button></li>
                <li><button class="dropdown-item" type="button">Bonavista</button></li> -->
            </ul>
        </div>
    </div>
</nav>