<!-- Navigation -->
<nav class="navbar navbar-expand-lg static-top">
    <div class="container">
        <a class="navbar-brand" href="../../index.html">
            <img src="/src/images/logo.png" alt="logo" class="logo">
        </a>
        <!-- <div class="nav-text dropdown">RWCS Monitoring</div> -->
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
            aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Lokasi titik
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div> -->

        <div class="btn-group">
            <button type="button" class="btn" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                <div class="btn-lokasi">Titik Lokasi <span class="dropdown-toggle"></span></a>

            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end">
                <li><a class="dropdown-item" href="../view/pesanggrahan/detail.html">Pesanggrahan</a></li>




                <li><button class="dropdown-item" type="button"><a href=""></a></button></li>
                <li><button class="dropdown-item" type="button">Seskoal</button></li>
                <li><button class="dropdown-item" type="button">SMK 13</button></li>
                <li><button class="dropdown-item" type="button">Tebet</button></li>
                <li><button class="dropdown-item" type="button">Green Garden</button></li>
                <li><button class="dropdown-item" type="button">Tanah Sereal</button></li>
                <li><button class="dropdown-item" type="button">Perpustakaan</button></li>
                <li><button class="dropdown-item" type="button">Bonavista</button></li>
            </ul>
        </div>
    </div>
</nav>