<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Arvirotech Media - SMPN 159</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link rel="stylesheet" href="../../src/css/app.min.css">
    <link rel="stylesheet" href="../../src/css/style-app.css">
    <link rel="stylesheet" href="../../src/css/vendor">

    <!-- Bootstrap -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <!-- Bootstrap Ends -->

</head>

<body data-bs-spy='scroll' data-bs-target='#sidebar-bootstrap' data-bs-offset='200'>
    <div id="app" class="app app-content-full-width">
        <div class="container">
            <div>
                <div id="header" class="app-header">
                    <div class="brand">
                        <a class="navbar-brand" href="../../index.html">
                            <img src="../../src/images/logo-2.png" alt="logo" class="logo">
                        </a>
                    </div>

                    <div class="menu">
                        <div class="btn-group">
                            <button type="button" class="btn" data-bs-toggle="dropdown" data-bs-display="static"
                                aria-expanded="false">
                                <div class="btn-lokasi">Titik Lokasi <span class="dropdown-toggle"></span></a>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-lg-end">
                                <li><a class="dropdown-item" href="../../view/pesanggrahan/detail.html">Pesanggrahan</a></li>
                                <li><a class="dropdown-item" href="../../view/seskoal/detail.html">Seskoal</a></li>
                                <li><a class="dropdown-item" href="../../view/smk13/detail.html">SMK 13</a></li>
                                <li><a class="dropdown-item" href="../../view/tebet/detail.html">Tebet</a></li>
                                <li><a class="dropdown-item" href="../../view/greengarden/detail.html">Green Garden</a></li>
                                <li><a class="dropdown-item" href="../../view/tanahsereal/detail.html">Tanah Sereal</a></li>
                                <li><a class="dropdown-item" href="../../view/perpus/detail.html">Perpustakaan</a></li>
                                <li><a class="dropdown-item" href="../../view/bonavista/detail.html">Bonavista</a></li>
                                <li><a class="dropdown-item" href="../../view/smpn159/detail.html">SMPN 159</a></li>
                                <li><a class="dropdown-item" href="../../view/pomad/detail.html">Pomad</a></li>
                                <li><a class="dropdown-item" href="../../view/kedaung/detail.html">Kedaung</a></li>
                                <li><a class="dropdown-item" href="../../view/museum/detail.html">Museum Satria Mandala</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg static-top">
                </nav>
            </div>


            <!-- Detail -->
            <div class="container">
                <h1 class="page-header">
                    Pembangunan Kolam Modular di Wilayah Provinsi DKI Jakarta Tahap IV
                </h1>
                <div class="card mb-2">
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-3">Penyedia Jasa</dt>
                            <dd class="col-sm-9">PT. Arvirotech Konstruksi Indonesia</dd>

                            <dt class="col-sm-3">Kontrak</dt>
                            <dd class="col-sm-9">5398/- 1.774.126 tanggal 10 Agustus 2021</dd>

                            <dt class="col-sm-3">Lokasi</dt>
                            <dd class="col-sm-9">SMP Negeri 159 Jakarta</dd>

                            <dt class="col-sm-3">Progres</dt>
                            <dd class="col-sm-9">100%</dd>

                            <dt class="col-sm-3">Volume</dt>
                            <dd class="col-sm-9">128M<sup>3</sup></dd>

                            <dt class="col-sm-3">Titik koordinat</dt>
                            <dd class="col-sm-9">6,152882, 106,796317</dd>

                            <dt class="col-sm-3">Kota</dt>
                            <dd class="col-sm-9">Jakarta Barat</dd>

                            <dt class="col-sm-3">Kecamatan</dt>
                            <dd class="col-sm-9">Tambora</dd>

                            <dt class="col-sm-3">Kelurahan</dt>
                            <dd class="col-sm-9">Jembatan Besi</dd>

                            <dt class="col-sm-3">Alamat</dt>
                            <dd class="col-sm-9"> Jl. Jembatan Besi Raya No. 24, RT.1/RW.5, Kel. Jembatan Besi, Kec. Tambora</dd>

                            <!-- <dt class="col-sm-3">Tanggal Mulai</dt>
                            <dd class="col-sm-9">22 Agustus 2021</dd> -->

                            <dt class="col-sm-3">Tanggal Selesai</dt>
                            <dd class="col-sm-9">10 Desember 2021</dd>
                        </dl>

                    </div>
                    <!-- corner -->
                    <div class="card-arrow">
                        <div class="card-arrow-top-left"></div>
                        <div class="card-arrow-top-right"></div>
                        <div class="card-arrow-bottom-left"></div>
                        <div class="card-arrow-bottom-right"></div>
                    </div>
                </div>
            </div>

            <!-- Foto Foto -->
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <div class="accordion" id="accordionExample">
                           
                            <!-- FINISHING -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree">
                                        <div class="col-md-3 ">
                                            Pekerjaan Finishing
                                        </div>
                                        <div class="col-sm-1">
                                            <span> : </span>
                                            100%
                                        </div>
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <!-- Pengembalian Kondisi Eksisting & Perkerasan -->
                                        <div class="card bg-theme border-theme bg-opacity-25">
                                            <div class="card-body">
                                                <h5>
                                                    Pengembalian Kondisi Eksisting & Perkerasan
                                                </h5>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-sm">
                                                            <div class="card ">
                                                                <!-- image caps -->
                                                                <div class="card-body">
                                                                    <img src="../../src/assets/smpn159/smp159-1.jpeg"
                                                                        alt="" class="card-img-top" />
                                                                </div>
                                                                <div class="card-body">
                                                                    <p class="card-text">pengembalian lokasi seperti
                                                                        semula</p>
                                                                </div>
                                                                <!-- arrow -->
                                                                <div class="card-arrow">
                                                                    <div class="card-arrow-top-left"></div>
                                                                    <div class="card-arrow-top-right"></div>
                                                                    <div class="card-arrow-bottom-left"></div>
                                                                    <div class="card-arrow-bottom-right"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm">
                                                            <div class="card ">
                                                                <!-- image caps -->
                                                                <div class="card-body">
                                                                    <img src="../../src/assets/smpn159/smp159-2.jpeg"
                                                                        alt="" class="card-img-top" />
                                                                </div>
                                                                <div class="card-body">
                                                                    <p class="card-text">pengembalian lokasi seperti
                                                                        semula</p>
                                                                </div>
                                                                <!-- arrow -->
                                                                <div class="card-arrow">
                                                                    <div class="card-arrow-top-left"></div>
                                                                    <div class="card-arrow-top-right"></div>
                                                                    <div class="card-arrow-bottom-left"></div>
                                                                    <div class="card-arrow-bottom-right"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm">
                                                            <div class="card ">
                                                                <!-- image caps -->
                                                                <div class="card-body">
                                                                    <img src="../../src/assets/smpn159/smp159-3.jpeg"
                                                                        alt="" class="card-img-top" />
                                                                </div>
                                                                <div class="card-body">
                                                                    <p class="card-text">pengembalian lokasi seperti
                                                                        semula</p>
                                                                </div>
                                                                <!-- arrow -->
                                                                <div class="card-arrow">
                                                                    <div class="card-arrow-top-left"></div>
                                                                    <div class="card-arrow-top-right"></div>
                                                                    <div class="card-arrow-bottom-left"></div>
                                                                    <div class="card-arrow-bottom-right"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm">
                                                            <div class="card ">
                                                                <!-- image caps -->
                                                                <div class="card-body">
                                                                    <img src="../../src/assets/smpn159/smp159-4.jpeg"
                                                                        alt="" class="card-img-top" />
                                                                </div>
                                                                <div class="card-body">
                                                                    <p class="card-text">pengembalian lokasi seperti
                                                                        semula</p>
                                                                </div>
                                                                <!-- arrow -->
                                                                <div class="card-arrow">
                                                                    <div class="card-arrow-top-left"></div>
                                                                    <div class="card-arrow-top-right"></div>
                                                                    <div class="card-arrow-bottom-left"></div>
                                                                    <div class="card-arrow-bottom-right"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm">
                                                            <div class="card ">
                                                                <!-- image caps -->
                                                                <div class="card-body">
                                                                    <img src="../../src/assets/smpn159/smp159-5.jpeg"
                                                                        alt="" class="card-img-top" />
                                                                </div>
                                                                <div class="card-body">
                                                                    <p class="card-text">pengembalian lokasi seperti
                                                                        semula</p>
                                                                </div>
                                                                <!-- arrow -->
                                                                <div class="card-arrow">
                                                                    <div class="card-arrow-top-left"></div>
                                                                    <div class="card-arrow-top-right"></div>
                                                                    <div class="card-arrow-bottom-left"></div>
                                                                    <div class="card-arrow-bottom-right"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- corner -->
                                            <div class="card-arrow">
                                                <div class="card-arrow-top-left"></div>
                                                <div class="card-arrow-top-right"></div>
                                                <div class="card-arrow-bottom-left"></div>
                                                <div class="card-arrow-bottom-right"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- corner -->
                    <div class="card-arrow">
                        <div class="card-arrow-top-left"></div>
                        <div class="card-arrow-top-right"></div>
                        <div class="card-arrow-bottom-left"></div>
                        <div class="card-arrow-bottom-right"></div>
                    </div>
                </div>

            </div>



            <a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
        </div>

        <!-- Footer -->
        <div id="app" class="app">
            <div id="footer" class="app-footer">
                © 2021 PT. Arvirotech Konstruksi Indo
            </div>
        </div>


</body>

</html>